# Copia este archivo como .env y ajusta los valores.
SECRET_KEY=SECRETOKEY
JWT_SECRET_KEY=jwtSECRETO

# Conexión a PostgreSQL (Neon).
DATABASE_URL=postgresql://neondb_owner:npg_ntc1xA0PINkR@ep-plain-base-b5qnda7o-pooler.c-7.us-east-2.aws.neon.tech:5432/neondb?sslmode=require